@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Condiment&family=Funnel+Display:wght@300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&display=swap');

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes subtle-bounce{
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
}
body {
  font-family: "Inter", sans-serif;
}

h1 {
  font-family: "Funnel Display", sans-serif;
}

h2 {
  font-family: "Condiment", cursive;
}

p {
  font-family: "Libertinus Sans", sans-serif;
}
